{
  "presets": [
    "@babel/preset-react", 
    ["@babel/preset-env", {
      "bugfixes": true,
      "useBuiltIns": false,
      "shippedProposals": true
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "react-hot-loader/babel"
  ]
}