{
  "presets": [
    "@babel/preset-react", 
    ["@babel/preset-env", {
      "bugfixes": true,
      "useBuiltIns": "usage",
      "corejs": "3.8.1",
      "shippedProposals": true
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "react-hot-loader/babel",
    "transform-react-remove-prop-types"
  ]
}